body html #root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


.inscription-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inscription-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.inscription-container form input {
    height: 38px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    
}

.inscription-container form input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #999;
}

.inscription-container form button {
    height: 35px;
    margin-top: 10px;
    border-radius: 4px;
    border: 0;
    background: #DF4723;
    cursor: pointer;
    
}
.inscription-container form button:hover{
    background: rgb(84, 219, 84);
    color: aliceblue;

}