body html #root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


.inscription-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inscription-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.inscription-container form input {
    height: 30px;
    padding: 10px;
    
}

.inscription-container form input::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #999;
}