body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


.main-tinder {
    width: 100%;
    text-align: center;
    color: rgb(226, 53, 53);   
    font-size: 37px;
}

.main-container {
    width: 100%;
    align-items: center;
}

.main-container ul {
    paint-order: normal;
}